*, 
*:before, 
*:after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

:root {
  --primary-color: hsl(226, 94%, 32%);
  --secondary-color: hsl(25, 97%, 55%);
  --tertiary-color: hsl(352, 60%, 55%);
  --solid-white: hsl(36, 0%, 100%);
  --solid-grey: hsl(136, 0%, 88%);
  --solid-black: hsl(0, 0%, 0%);
}

.container {
  min-height: 100vh;
  background-color: var(--solid-grey);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.calculator {
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  margin-block-end: 20px;
}

.calculator__display {
  height: 80px;
  background-color: var(--solid-black);
  border: 1px solid var(--solid-grey);
  border-radius: 10px 10px 0px 0px;
  color: var(--solid-white);
  font-size: 40px;
  padding-inline: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculator__keys {
  height: 350px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  font-size: 20px;
  background-color: var(--solid-white);
  color: var(--solid-black);
  border: 1px solid var(--solid-grey);
  cursor: pointer;
}

.key--operation {
  background-color: var(--primary-color);
  color: var(--solid-white);
}

.key--equal {
  background-color: var(--secondary-color);
  color: var(--solid-white);
  border-radius: 0px 0px 10px 0px;

  grid-column: 4 / 5;
  grid-row: 2 / 6;
}

.key--zero {
  border-radius: 0px 0px 0px 10px;
}

.bottom-text {
  font-size: 12px;
  color: var(--solid-white);
}

.bottom-text__link {
  text-decoration: none;
  color: inherit;
}

.bottom-text__link:hover {
  text-decoration: underline;
}