*, 
*:before, 
*:after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

:root {
  --primary-color: hsl(226, 94%, 32%);
  --primary-color-light: hsl(226, 94%, 72%);
  --secondary-color: hsl(25, 97%, 55%);
  --solid-white: hsl(36, 0%, 100%);
  --solid-grey: hsl(136, 0%, 88%);
  --solid-black: hsl(0, 0%, 0%);
}

.calculator {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid var(--solid-grey);
  overflow: hidden;
}

.calculator__display {
  height: 80px;
  background-color: var(--solid-black);
  color: var(--solid-white);
  font-size: 30px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculator__keys {
  height: 350px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  font-size: 20px;
  background-color: var(--solid-white);
  color: var(--solid-black);
  border: 1px solid var(--solid-grey);
  cursor: pointer;
}

.key--operation {
  background-color: var(--primary-color);
  color: var(--solid-white);
}

.key--equal {
  background-color: var(--secondary-color);
  color: var(--solid-white);

  grid-column: 4 / 5;
  grid-row: 2 / 6;
}